:root {
  --header-padding: 4rem 0 0;
  --header-logo-position: relative;
  --header-logo-link-display: inline-block;
  --header-logo-link-position: absolute;
  --header-logo-link-top: -1rem;
  --header-logo-link-left: 0;
  --color-white: #ffffff;
  --color-primary: #007bff;
}

.header {
  padding: var(--header-padding);
}

.header-logo {
  position: var(--header-logo-position);
}

.header-logo a {
  display: var(--header-logo-link-display);
  position: var(--header-logo-link-position);
  top: var(--header-logo-link-top);
  left: var(--header-logo-link-left);
}

.nav {
  margin: 0;
  padding: 0;
  text-align: center;
}

.navbar-menu {
  float: right;
}

.nav ul {
  list-style-type: none; /* Remove default list styling */
  padding: 0;
  margin: 0;
}

.nav .nav-item {
  font-family: var(--font-family-title);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-medium);
  letter-spacing: calc(0.04 * 1rem); /* 4% of the root element */
  display: var(--nav-item-display);
  margin: calc(3 * 1rem) 0 0 0; /* 3 times the root element on top, 0 elsewhere */
}

.nav .nav-link {
  display: block;
  padding: calc(0.5 * 1rem) var(--font-size-medium); 
  text-decoration: none;
  position: relative;
}

.nav .nav-link:hover {
  color: var(--nav-item-link-hover);
  background-color: var(--color-primary);
  color: var(--color-white);
}

/* Pseudo-elements for nav-link */
.nav .nav-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 0;
  height: 20%;
}

.nav .nav-item:hover .nav-link::before {
  background-color: var(--color-primary); /* Hover background */
  width: 100%;
}



